    body{
    background-image: none;
    }
  
    .circle-container {
      position: relative;
      width: 24em;
      height: 24em;
      padding: 2.8em;
      border: dashed 1px;
      border-radius: 50%;
      margin: 1.75em auto 0;
    }
    .circle-container a {
      display: block;
      position: absolute;
      top: 50%; left: 50%;
      width: 4em; height: 4em;
      margin: -2em;
    }
    .circle-container img {
      display: block;
      width: 100%; height: auto;
      border-radius: 50%;
    }
    .deg0 { transform: translate(12em); }
    .deg40 { transform: rotate(40deg) translate(12em) rotate(-40deg); }
    .deg80 { transform: rotate(80deg) translate(12em) rotate(-80deg); }
    .deg120 { transform: rotate(120deg) translate(12em) rotate(-120deg); }
    .deg160 { transform: rotate(160deg) translate(12em) rotate(-160deg); }
    .deg200 { transform: rotate(200deg) translate(12em) rotate(-200deg); }
    .deg240 { transform: rotate(240deg) translate(12em) rotate(-240deg); }
    .deg280 { transform: rotate(280deg) translate(12em) rotate(-280deg); }
    .deg320 { transform: rotate(320deg) translate(12em) rotate(-320deg); }